@page
@model ScriptureJournal.Pages.JournalEntries.IndexModel

@{
    ViewData["Title"] = "Scripture Journal";
}

<h1 style="font-family: 'Comfortaa', cursive;">Scripture Journal</h1>

<p style="font-family: 'Comfortaa', cursive;">
    <a asp-page="Create" class="btn btn-dark">Create New</a>
</p>

<form>
    <p style="font-family: 'Comfortaa', cursive;">
        Search by Book: <input type="text" asp-for="SearchBook" />
    </p>
    <p style="font-family: 'Comfortaa', cursive;">
        Search by Entry: <input type="text" asp-for="SearchEntry" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table" style="font-family: 'Comfortaa', cursive;">
    <thead style=" background-color: whitesmoke">
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                    @Html.DisplayNameFor(model => model.JournalEntry[0].EntryDate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].Cannon)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.BookSort">
                    @Html.DisplayNameFor(model => model.JournalEntry[0].Book)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].Chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].Verse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].Entry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JournalEntry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cannon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verse)
            </td>
            @{
                string ellipsedEntry;

                if (item.Entry.Length > 20)
                {
                    ellipsedEntry = item.Entry.Substring(0, 20) + "...";

                }
                else
                {
                    ellipsedEntry = item.Entry;
                }



            }
            <td>
                @Html.DisplayFor(modelItem => ellipsedEntry)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
